---
import { getEntity } from '@/lib/entities';

interface Props {
  name: string;
}

const { name } = Astro.props;
const entity = getEntity(name);
const color = entity?.color ?? 'inherit';
const logo = entity?.logo;
const logoDark = entity?.logoDark;
---

{entity ? (
  <em class="entity-mention" style={`--entity-color: ${color}`}>
    {logo && logoDark ? (
      <>
        <img src={logo} alt="" class="entity-icon entity-icon-light" />
        <img src={logoDark} alt="" class="entity-icon entity-icon-dark" />
      </>
    ) : logo ? (
      <img src={logo} alt="" class="entity-icon" />
    ) : null}
    {name}
  </em>
) : (
  <span>{name}</span>
)}
